<!DOCTYPE html>
<html>
    <head>
        <title>Order Form</title>
        <link rel="stylesheet" type="text/css" href="/order-form-style.css">
    </head>
    <body>
        <div class="container">
                <form action="http://localhost:3000/order" method="post">
                    <h3>Customer</h3>
                    <hr>
                    <div class="names">
                        <div>
                            <label for="first_name">First Name</label>
                            <input type="text" id="first_name" name="first_name">
                        </div>
                        <div>
                            <label for="last_name">Last Name</label>
                            <input  type="text" id="last_name" name="last_name">
                        </div>
                    </div>
                   
                    <div class="company">
                        <label for="company_name">Company Name</label>
                        <input type="text" id="company_name" name="user_company">
                    </div>
        
                    <h3>Product Order</h3>
                    <hr>
                    <div class="product">
                        <div>
                            <header>
                                <label for="product-select">Product</label>
                            </header>
                            <main>
                                <select id="product-select">
                                        <option value="omega-3-breakfast-smoothie">Omega-3 Breakfast Smoothie</option>
                                        <option value="omega-3-breakfast-smoothie-bacon">Omega-3 Breakfast Smoothie with Bacon</option>
                                        <option value="omega-3-breakfast-smoothie-smores">Omega-3 Breakfast Smoothie with Smores</option>
                                        <option value="omega-3-breakfast-smoothie-root-beer-float">Omega-3 Breakfast Smoothie Root Beer Float Flavor</option>
                                </select>
                            </main>
                        </div>
                        
                        <div>
                            <header>
                                <label for="quantity">Qty</label>
                            </header>
                            <main>
                                <input type="number" id="quantity" name="quantity" min="1" max="10000">
                            </main>
                        </div>
                    </div>
        
                    <div class="button">
                        <button type="submit">Submit</button>
                    </div>
        
                </form>
        </div>
        
    </body>
</html>
